html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  margin: 0;
}

h1,
h4 {
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: black;
  height: 2.5rem;
}

header .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 0.5em;
}

header img {
  height: 1.5rem;
  width: auto;
  padding: 0 1rem 0 0.5rem;
}

/* Hero Section */

.hero {
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;

}

.container .hero-head {
  width: 20rem;
  padding: 2.5rem 3rem;
  background: black;
  position: relative;
  top: 9rem;
}

.hero-head h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

.hero-head h4 {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {

  .hero {
    height: 15rem;
  }

  .container .hero-head {
    width: 100%;
    padding: 1rem 0 1rem 2rem;
    position: relative;
    top: 10rem;
    transition: 0.3s;
  }

  .hero-head h1 {
    font-size: 1rem;
  }

  .hero-head h4 {
    font-size: 0.77rem;
  }

}

/* Navigation Area */

nav {
  background-color: firebrick;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 961px) {

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
  }

}

/* Products */

.products,
.biz-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product img {
  max-width: 8rem;
}

.description {
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
}

.info {
  width: 35%;
}

.info .title {
  background-color: black;
  display: block;
  padding: 1rem 2rem;
}

.info .text {
  color: black;
  line-height: 2;
}

@media only screen and (max-width: 961px) {

  .glasses {
    display: none;
  }

  .product {
    width: 47%;
  }


}

@media only screen and (max-width: 650px) {

  .watch {
    display: none;
  }

  .product {
    width: 90%;
  }

  .products {
    display: flex;
    justify-content: center;
  }

  .info {
    width: 90%;
    margin: 0.5rem auto;
  }

  .products,
  .biz-info {
    flex-wrap: wrap;
  }

}

/* Footer Area */

footer {
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4em;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
