html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  margin: 0;
}

header {
  background-color: black;
  height: 2.32rem;
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  width: auto;
  padding: 0 1rem 0 0.5rem;
}

header span {
  display: flex;
  align-items: center;
}

.container {
  width: 960px;
  display: flex;
  margin: auto;
}

/* Hero Section */

.hero-image {
  background: url("./../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.arrival-callout {
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  width: 20rem;
}

.arrival-callout h4 {
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.arrival-callout h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
}

/* Navbar Section */

nav {
  background-color: firebrick;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

nav ul li {
  display: inline-flex;
  height: 2.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

nav a:hover {
  text-decoration: none;
  background-color: black;
  transition: 0.5s;
}

/* Products Section */

.products {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.products .product{
  width: 30%;
}

.products .product:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.products .product .product-image {
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .product .product-image {
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .product .product-image img {
  max-width: 8rem;
}

.description {
  background-color: black;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

/* Biz-Info Section */

.biz-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.biz-info .info {
  width: 35%;
}

.info-sub {
  background-color: black;
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
}

.info p {
  color: black;
  padding-top: .5rem;
}

/* Footer */

footer {
  background-color: black;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

footer span {
  padding: 5rem 0;
}
